*
!.gitignore

!*/

!helix/**
!alacritty.toml
!starship.toml

!JetBrains/IntelliJIdea2023.3/disabled_plugins.txt
!JetBrains/IntelliJIdea2023.3/options/editor-font.xml
!JetBrains/IntelliJIdea2023.3/codestyles/Default.xml
!JetBrains/IntelliJIdea2023.3/options/ui.lnf.xml

com.modrinth.theseus/**
